<div class="cover">
	<div class="cover-overlayer"></div>
	<div class="profile">
		<div class="profile-content">
			<h1 class="name">About me</h1>
			<p class="intro">A Front End Developer   like to experience and learn new things</p>
			<p class="intro">Moved to Sydney from China and ready to start a new career</p>
			<hr class="divider">
			<h1 class="name">Key Skills</h1>
			<ul class="skills">
				<li>Javascript</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>JQuery</li>
				<li>Angular</li>
				<li>Linux</li>
				<li>SVN/GIT</li>
				<li>Photoshop</li>
				<li>Node.js</li>
				<li>etc.. </li>
			</ul>
			<hr class="divider secondary">
			<h1 class="name">Contact Me</h1>
			<a href="mailto:lixiaoyufrank@gmail.com" class="intro blk">lixiaoyufrank@gmail.com</a>
			<a href="javascript:;" class="intro blk">0434889984</a>
		</div>
	</div>

</div>