<div class="cover">
	<div class="cover-overlayer"></div>
	<div class="profile">
		<div class="profile-content">
			<div class="profile-show">
				<a href="/about" class="blog-button">
					<div class="portrait circle">
						<img src="./app/img/lxy.jpg" class="circle">
					</div>
					<div class="info circle">
						<h2 class="info-name">李潇雨</h2>
						<i class="info-job">Web</i>
					</div>
				</a>
			</div>
			<h1 class="name">Xiaoyu Li</h1>
			<!-- <p class="subtitle">profile</p> -->
			<hr class="divider">
			<p>welcome to my page !</p>
			<hr class="divider secondary">
			<p></p>
		</div>
	</div>
</div>